@model IEnumerable<Entity.AllList>
@{
    ViewData["Title"] = "Index";
}

<h1>All List</h1>

<form asp-action="Report" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label class="control-label"></label>
        <select class="form-control" name="location" asp-items="@(new SelectList(ViewBag.location,"Location","Location"))"></select>
    </div>
    <input type="submit" value="Report" class="btn btn-danger" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Company
            </th>
            <th>
                TelNumber
            </th>
            <th>
                Email
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
            </tr>
        }
    </tbody>
</table>
